.playerContainer {
  @apply relative overflow-hidden mb-5 h-full;
}

/* Mirror effect for all video elements */
.playerContainer video {
  transform: scaleX(-1);
}

.active {
  @apply rounded-lg;
}

.notActive {
  @apply rounded-md h-min;
  width: 200px;
  -webkit-box-shadow: 0px 0px 11px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 11px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 11px -1px rgba(0, 0, 0, 0.75);
}

.icon {
  @apply text-white absolute right-2 bottom-2;
}

.user {
  @apply text-white;
}

.userName {
  @apply absolute bottom-2 left-2 bg-black bg-opacity-70 text-white px-2 py-1 rounded text-sm font-medium;
  z-index: 10;
}

.notPlaying {
  @apply flex items-center justify-center;
}